<!DOCTYPE html>
<html>
<head>
  <title>News Reader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= current_user.username %>
  <%= button_to "Logout", "/sessions", method: :delete %>
<% else %>
  <%= link_to "Log In", new_sessions_url %>
<% end %>

<%= yield %>

</body>
</html>
